@media screen and (max-width: 574px){
    
  :root
    {
        --fs-40: calc(40px - 15px) !important;
        --fs-42: calc(42px - 15px) !important;
        --fs-44: calc(44px - 15px) !important;
        --fs-46: calc(46px - 20px) !important;
        --fs-48: calc(48px - 20px) !important;
        --fs-50: calc(50px - 30px) !important;
        --fs-60: calc(60px - 30px) !important;
        --fs-70: calc(70px - 30px) !important;
        --fs-80: calc(80px - 30px) !important;3
        --hdr-Tvrit: 86px;
        --hdr-industrial: 42px;
        --hdr-prgf: 14px;
        --hdr-germany: 20px;
    }
   .macbook-position {
        height: 146px;
        max-width: 260px !important;
        position: relative;
        right: 0;
        margin-bottom: 60px !important;
        margin: auto;
    }
    .macbook-wrapper .macbook-lapi {
        left: -23.8%;
        top: -13.3%;
        width: 149%;
    }

    .hdr-prgf, .hdr-prgf2r {
        min-height: 40px;
    }
    .hdr-prgf2r
    {
        text-align: left;
    }

    .flag {
        width: 78px;
    }

    .lookingBox 
    {
        display: block;
    }

    .client-carousel .carousel-cell
    {
        width: 100%;
        border: none;
    }
}

@media (max-width:767px) {

    :root
    {
        --fs-20: calc(20px - 5px);
        --fs-22: calc(22px - 5px);
        --fs-24: calc(24px - 5px);
        --fs-26: calc(26px - 5px);
        --fs-28: calc(28px - 5px);
        --fs-30: calc(30px - 10px);
        --fs-32: calc(32px - 10px);
        --fs-34: calc(34px - 10px);
        --fs-36: calc(36px - 10px);
        --fs-38: calc(38px - 10px);
        --fs-40: calc(40px - 20px);
        --fs-42: calc(42px - 20px);
        --fs-44: calc(44px - 20px);
        --fs-46: calc(46px - 20px);
        --fs-48: calc(48px - 20px);
        --fs-50: calc(50px - 20px);
        --fs-60: calc(60px - 20px);
        --fs-70: calc(70px - 20px);
        --fs-80: calc(80px - 20px);
    }

    .headerBg {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
    .aiconsultingBg
    {
        padding-top: 100px;
    }
    .headerBg video {
        width: 100%;
        margin: auto;
        position: relative;
    }

    .main-menu .navbar {
        max-width: 540px;
        margin: auto;
    }
    .achivemore-menu .ul-sub-menu img
    {
       display: none;
    }
    .achivemore-menu .col
    {
       display: block !important;
    }
    .videoWrapper
    {
        margin-bottom: 20px;
    }
    
    .btn {
        font-size: 10px;
        padding: 10px 20px;
    }

    .featureBox,.featureBox .icon,.featureBox .title,.featureBox .text-p {
        text-align: center;
    }

    .contactBox {
        display: block;
        padding: 40px;
    }
    .formBox {
        width: 100%;
        padding: 0;
    }

    .md-center-title
    {
        text-align: center;
    }
    .md-center-title .short-line
    {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .featureBox .readmorebtn
    {
        text-align: center;
    }

    .tryDemobg .addon .form-control {
        height: 54px;
        font-size: 12px;
    }

    .cookieFooter {
        padding: 20px 0;
    }

    

    .fourbox .hrline-main
    {
        display: none;
    }

    .apaVr-line .vr-line {
        height: 135px;
        bottom: -65px;
    }

    .fourbox .vr-line {
        height: 12px;
        top: -11px;
    }

    .linkdinProBox {
        display: block;
        align-items: center;
    }
    .linkdinProBox .profilePic {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
    }

    .linkdinProBox .profilePic .smplImg {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
    }
    .linkdinProBox .content {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .linkdinProBox .content .title {
        font-size: 16px;
    }
    .top-border
    {
        border-top:3px solid #222;
    }

    .client-carousel .carousel-cell
    {
        height: 100px;
    }

    .client-carousel .carousel-cell .picBox.w-90
    {
        width: 50px;
    }


    .searchDiv
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .searchDiv .form-group
    {
        width: 80%;
    }
    .searchDiv .filterBtn{
        font-size: 20px;
        color: #ed1b4a;
    }
    
   .searchDiv.filterFixedTop
   {
       position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
        padding: 20px;
   }
   .filterDiv.open
    {
        transform: translateX(0px);
    }
   .filterDiv
   {
        position: fixed;
        padding: 20px;
        right: 10px;
        top: 10px;
        bottom: 0;
        display: block;
        width: 200px;
        height: auto;
        border-radius: 4px;
        transform: translateX(220px);
        transition: all 0.35s;
        background: #fff;
        z-index: 3;
        max-height: 400px;
        overflow: auto;
        box-shadow: -4px 4px 16px #0000002d;
   }
    .closeFilter
    {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        color: #ccc;
        z-index: 3;
    }
    
    .countingNumBox .icon {
        margin-right: 0;
    }
    .countingNumBox {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
    }

    .avantage-sec .automBox
    {
        margin-bottom: 30px;
        height: auto;
    }
   
    .timelineStep {
        margin-left: 40px;
    }
    .vline {
        left: 5%;
        right: auto;
    }
    .timelineSteps-warpper .line-left:after,.timelineSteps-warpper .line-right:after {
        right: auto;
        left: -8%;
        width: 8%;
    }
    .timelineStep.right {
        text-align: left;
    }
    .timelineSteps-warpper .line-left:before, .timelineSteps-warpper .line-right:before{
        left: -8%  !important;
        right: auto !important;
    }

    .indexMainBg video
    {
        height: 200%;
        width: auto;
        right: 0;
        left: 0;
        position: absolute;
    }
   
    .indexMainBg .typography .text-1,.aiconsultingBg .typography .text-1 {
        font-size: 18px;
        width: 100%;
    }
    .typography .subtext .text-s1,.typography .subtext .text-s2
    {
        font-size: 14px;
        padding: 10px 20px;
        line-height: 1.2;
    }

    .indexMainBg .ul-list li
    {
        width: 80%;
        padding-left: 0;
    }
    
    .weOfferBox .featureBox
    {
        text-align: left;
        height: auto;
        margin-bottom: 30px;
    }

    .btn-knowmore {
        position: relative;
        bottom: 0;
    }
    .ul-logobox li {
        width: 49%;
        list-style: none;
    }
    .ul-list-50 li {
        width: 96%;
    }
    
    .weOfferBox .featureBox .title
    {
        text-align: left;
    }
    .achieveInfographic .achieveWrapper {
        width: 100%;
    }
    .achieveWrapper.upSet{
        display: flex;
        flex-flow: column-reverse;
    }
    .achieveInfographic .title-round {
        font-size: var(--fs-20);
        min-height: 50px;
        max-width: 100%;
    }
    .achieveInfographic .title-round-grey {
        font-size: var(--fs-12);
    }
}

@media (min-width: 768px) and (max-width: 1198px) {
    :root{
        --hdr-Tvrit: 80px;
        --hdr-industrial: 40px;
        --hdr-prgf: 16px;
        --hdr-germany: 18px;
        
    }
    .headerBg {
            margin-bottom: 60px;
        }
    .main-menu .navbar {
        margin: auto;
    }
    .bringSlideSection .pdn-l-col {
        padding-left: 80px;
    }
    
}

@media (min-width: 768px) {
  
    .bringSlideSection .container
    {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .md-center-title .short-line
    {
        margin-left: 0;
    }
    .left-md-border
    {
        border-left:3px solid #222;
    }

    .w-md-50
    {
        width: 50% !important;
    }
    

    .timelineStep.right .ul-list-bullet li
    {
        padding-right: 20px;
    }

    .timelineStep.right .ul-list-bullet li:after {
        position: absolute;
       left: auto;
       right: 0;
    }


}
@media screen and (max-width: 991px) {

    :root
    {
        
        --fs-40: calc(40px - 10px);
        --fs-42: calc(42px - 10px);
        --fs-44: calc(44px - 10px);
        --fs-46: calc(46px - 10px);
        --fs-48: calc(48px - 10px);
        --fs-50: calc(50px - 10px);
        --fs-60: calc(60px - 10px);
        --fs-70: calc(70px - 10px);
        --fs-80: calc(80px - 10px);
    }
   .main-menu .navbar {
        padding: 10px 15px;
    }

    .main-menu .navbar {
        padding: 10px 15px;
    }
    .main-menu .navbar-collapse.open
    {
        transform: translateX(0px);
    }
   .main-menu .navbar-collapse
   {
        position: fixed;
        padding-top: 20px;
        right: 0;
        top: 0;
        bottom: 0;
        width: 210px;
        height: 100%;
        transform: translateX(230px);
        transition: all 0.35s;
        background: #fff;
        box-shadow: -4px 4px 16px #0000002d;
   }

   .main-menu .navbar-nav .nav-link {
        font-size: 12px;
        padding: 12px 20px;
    }

    .submenu-div {
        padding:0 10px;
        background: #fff;
        box-shadow: none;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    .ul-sub-menu, .ul-deep-menu {
        padding: 0;
        border-left: none;
        width: 100%;
        max-width: 100%;
    }

    .ul-sub-menu li a, .ul-deep-menu li a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .submenu-div .row .col:first-child
    {
        display: none;
    }
    .ul-deep-menu {
        position: relative;
        left: 0;
        top: 0;
    }

    .main-menu .navbar-nav .nav-item a.nav-link:before {
        left: 0;
        right: auto;
        bottom: 0;
        top: 0;
        width: 2px;
        height: 30px;
    }

    .ul-sub-menu>li>a:after, .ul-deep-menu>li>a:after {
        left: -10px;
        border-top: 6px solid transparent;
        border-left: 8px solid #ed1b4a;
        border-bottom: 6px solid transparent;
    }
    .achivemore-menu .ul-sub-menu .sub-Link {
        font-size: var(--fs-14);
    }
    .menu-togglebar
    {
        width: 30px;
        height: auto;
        position: relative;
        cursor: pointer;
    }
    .menu-togglebar span
    {
        display: block;
        position: relative;
        height: 3px;
        width: 100%;
        background: #222;
        opacity: 1;
        margin-bottom: 5px;
        transition: .25s ease-in-out;
    }
    
    .menuclose
    {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 2;
        color: #ccc;
    }

    /*------------- menu css close ----------------*/

    .typography {
        margin-bottom: 20px;
        position: relative;
    }
    .typography .ul-list li {
        margin-bottom: 15px;
        font-size: 12px;
    }
    
    .centerPharseContent {
        width: 100%;
    }

    .timelineSteps-warpper .line-right:before {
        left: -31%;
    }
    .timelineSteps-warpper .line-left:before {
        right: -31%;
    }
    
    .macbook-sec {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 60px;
    }

     .macbook-sec
    {
        top: 60px;
    }
    .macbook-sec .typography {
        text-align: center;
        top: 0;
    }
    .macbook-sec .typography .text-p {
        margin: auto;
        font-weight: 700;
    }

   .macbook-position {
        height: 270px;
        max-width: 430px !important;
        position: relative;
        right: 0;
        margin-bottom: 30px !important;
        margin: auto;
        margin-top: 50px;
    }

   
    .box-content-left *,.box-content-right * {
        text-align: left;
    }

    .AmimgBox {
        margin-bottom: 30px;
    }

   
    .box-content-left *,.box-content-right * {
        text-align: left;
    }

    .AmimgBox {
        margin-bottom: 30px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
   
   .headerBg video {
        width: 150%;
    }
    
}

@media (min-width: 992px) {

    .bringSlideSection .pdn-l-col {
        padding-left: 150px;
    }
    
    .bringSlideSection .automtv-carousel
    {
        padding-left: 25px;
    }
}


/* iPads pro  (portrait and landscape) ----------- */
    /* Landscape*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)  
    and (orientation: landscape)  {
        .indexMainBg {
            height: 60vh;
        }
    }

    /* Portrait*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)  
    and (orientation: portrait)  {

        .indexMainBg {
            height: 60vh;
        }
    }

/* iPads and iphones  (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
    
    :root{
        --hdr-Tvrit: 72px;
        --hdr-industrial: 35px;
        --hdr-prgf: 16px;
        --hdr-germany: 18px;
        
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    .indexMainBg {
        height: 42vh !important;
    }
 }

/* ----------- iPhone 4, 5, 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 573px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    :root{
        --hdr-Tvrit: 70px;
        --hdr-industrial: 35px;
        --hdr-prgf: 14px;
        --hdr-germany: 20px;
        
    }
    .macbook-sec {
        margin-bottom: 60px;
    }
    .flag {
        width: 40px;
    }
    .macbook-position {
        height: 143px;
        max-width: 260px !important;
        position: relative;
        right: 0;
        margin-bottom: 20px !important;
        margin: auto;
        margin-top: 30px;
    }
    .macbook-wrapper .macbook-lapi {
        left: -23.8%;
        top: -13.3%;
        width: 149%;
    }
        .timelineSteps-warpper .line-left:before, .timelineSteps-warpper .line-right:before {
        left: -15% !important;
        right: auto !important;
    }
}

/*----------- Nexus 6 (portrait) ----------- */
@media only screen and (device-width : 400px) and (orientation: portrait) {
    :root{
        --hdr-germany: 30px !important;
    }
    .hdr-prgf2r {
        text-align: left !important;
    }
}
/*----------- Nexus 7 (portrait) ----------- */
@media only screen and (device-width : 600px) and (orientation: portrait) {
    :root{
        --hdr-germany: 30px !important;
    }
    .hdr-prgf2r {
        text-align: left !important;
    }
}

@media (min-width: 1270px) and (max-width: 1290px) {
    .indexMainBg {
        height: 75vh;
    }
}

@media (min-width: 1024px) and (max-width: 1290px) and (orientation: landscape) {
    .macbook-position {
        right: 10%;
        top: 20%;
        width: 100%;
        height: 290px;
        max-width: 480px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .svg-md
    {
        display: block;
    }
    .achieveInfographic .svg-total-line {
        left: 10%;
        top: 23%;
        width: 82%;
        height: 247px;
    }
    .achieveInfographic .svg-total-line line {
        stroke-width: 6px;
    }
    .svg-total-line line:nth-child(odd)
    {
        stroke-width: 15px;
    }
    .achieveInfographic .achieveWrapper {
        width: 90%;
    }
    .achieveInfographic .title-round {
        max-width: 170px;
        font-size: var(--fs-18);
        min-height: 50px;
        width: 100%;
    }
    .achieveInfographic .title-round-grey {
        font-size: var(--fs-12);
    }
}

@media (min-width: 992px) and (max-width: 1199px){
   .achieveInfographic .svg-total-line {
        left: 8%;
        top: 26%;
        width: 82%;
        height: 190px;
    }
    .achieveInfographic .achieveWrapper {
        width: 80%;
    }
}
@media (min-width: 992px) and (max-width: 1899px){
    .svg-lg
    {
        display: block;
    }
}
@media screen and (min-width: 1900px) { 

    :root
    {
        --fs-10: calc(10px * 2);
        --fs-12: calc(12px * 2);
        --fs-14: calc(14px * 2);
        --fs-16: calc(16px * 2);
        --fs-18: calc(18px * 2);
        --fs-20: calc(20px * 2);
        --fs-22: calc(22px * 2);
        --fs-24: calc(24px * 2);
        --fs-26: calc(26px * 2);
        --fs-28: calc(28px * 2);
        --fs-30: calc(30px + 20px);
        --fs-32: calc(32px + 20px);
        --fs-34: calc(34px + 20px);
        --fs-36: calc(36px + 20px);
        --fs-38: calc(38px + 20px);
        --fs-40: calc(40px + 20px);
        --fs-42: calc(42px + 20px);
        --fs-44: calc(44px + 20px);
        --fs-46: calc(46px + 20px);
        --fs-48: calc(48px + 20px);
        --fs-50: calc(50px + 20px);
        --fs-60: calc(60px + 20px);
        --fs-70: calc(70px + 20px);
        --fs-80: calc(80px + 20px);
        --hdr-Tvrit: calc(103px * 2);
        --hdr-industrial: calc(50px * 2);
        --hdr-prgf: calc(20px * 2);
        --hdr-germany: calc(30px * 2);
    }
   .container {
        max-width: 1870px;
    }
    .main-menu .navbar {
        max-width: 1870px;
        margin: auto;
    }
    .flag {
        width: 115px;
    }
    .videoWrapper .videoFrame {
        height: 640px;
    }
    .formBox .form-control
    {
        height: calc(2.25rem * 2);
    }
    .formBox textarea.form-control
    {
        height: calc(3.25rem * 2);
    }
    .navbar img {
        width: 230px;
    }
    .weOfferBox .featureBox
    {
        padding-bottom: 50px;
    }
    .ul-list-bullet li
    {
        padding-left: 30px;
    }
    .ul-list-bullet li:after {
        top: 12px;
        width: 12px;
        height: 12px;
        border-radius: 12px;
    }

    .white-box-shadow {
        padding: 50px;
    }

    .macbook-position
    {
        top: 20%;
        width: 100%;
        height: 580px;
        max-width: 980px;
    }
    .short-line {
        width: 180px;
    }
    .timelineSteps-warpper .line-left:before {
        right: -25%;
    }
    .timelineSteps-warpper .line-right:before {
        left: -25%;
    }
    .timelineSteps-warpper .line-right:before, .timelineSteps-warpper .line-left:before {
        width: 35px;
        height: 35px;
    }
    .Advantages-sec .icon {
        width: 200px;
        height: 200px;
        border-radius: 50px;
        margin-bottom: 50px;
    }
    .featureBox .icon img {
        height: 100px;
    }
    .svg-xl
    {
        display: block;
    }
    .svg-total-line
    {
        top: 23% !important;
        height: 380px !important;
    }
    .achieveInfographic .title-round {
        border-radius: 120px;
        padding: 20px;
        max-width: 300px;
        font-size: var(--fs-18);
        min-height: 120px;
        margin-bottom: 40px;
    }
    .achieveInfographic .title-round-grey {
        font-size: var(--fs-12);
    }
    .achieveInfographic .title-text {
        font-size: var(--fs-20);
    }
    .achieveInfographic .achieveWrapper {
        width: 80%;
    }
    .achieveInfographic .svg-total-line line
    {
        stroke-width: 10;
    }
    .svg-total-line line:nth-child(odd)
    {
        stroke-width: 25px;
    }
}