:root
{
    --shadow:rgba(0, 0, 0, 0.22);
    /*-------- fonts-size -----------*/
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-38: 38px;
    --fs-40: 40px;
    --fs-42: 42px;
    --fs-44: 44px;
    --fs-46: 46px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-60: 60px;
    --fs-70: 70px;
    --fs-80: 80px;
    --hdr-Tvrit: 130px;
    --hdr-industrial: 64px;
    --hdr-prgf: 24px;
    --hdr-germany: 36px;

    /*-------- colors -----------*/
    --primary: #ed1b4a;
    --primary-color: #ed1b4a;
    --red: var(--primary);
    --primary-light: #f74785;
    --dark-color: #222222;
}

body {

    font-size: var(--fs-14);
    color: var(--dark-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
   /* overflow-x: hidden;*/
}



::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
     border-radius:20px !important;
}
 
::-webkit-scrollbar-thumb {
    background-color: #124654;
     border-radius:20px !important;
    outline: 1px solid white;

}

a,a:hover,a:visited
{
    text-decoration: none;
}
h1
{
    font-size: var(--fs-40);
}
h2
{
   font-size: var(--fs-32);
}
h3
{
    font-size: var(--fs-28);
}
h4
{
    font-size: var(--fs-24);
}
h5
{
    font-size: var(--fs-20);
}
.fs-8
{
    font-size: 8px;
}
.fs-10
{
    font-size: var(--fs-10);
}
.fs-12
{
    font-size: var(--fs-12);
}
.fs-14
{
    font-size: var(--fs-14);
}
.fs-16
{
    font-size: var(--fs-16);
}
.fs-18
{
    font-size: var(--fs-18);
}
.fs-20
{
    font-size: var(--fs-20);
}
.fs-22
{
    font-size: var(--fs-22);
}
.fs-24
{
    font-size: var(--fs-24);
}
.fs-26
{
    font-size: var(--fs-26);
}
.fs-28
{
    font-size: var(--fs-28);
}
.fs-30
{
   font-size: var(--fs-30);
}
.fs-32
{
    font-size: var(--fs-32);
}
.fs-34
{
    font-size: var(--fs-34);
}
.fs-36
{
    font-size: var(--fs-36);
}
.fs-38
{
    font-size: var(--fs-38);
}
.fs-40
{
    font-size: var(--fs-40);
}
.fs-42
{
    font-size: var(--fs-42);
}
.fs-44
{
    font-size: var(--fs-44);
}
.fs-48
{
    font-size: var(--fs-48);
}
.fs-50
{
    font-size: var(--fs-50);
}
.fs-60
{
    font-size: var(--fs-60);
}

.fw-100
{
    font-weight: 100;
}
.fw-200
{
    font-weight: 200;
}
.fw-300
{
    font-weight: 300;
}
.fw-400
{
    font-weight: 400;
}
.fw-500
{
    font-weight: 500;
}
.fw-600
{
    font-weight: 600;
}
.fw-700
{
    font-weight: 700;
}
.fw-800
{
    font-weight: 800;
}
.fw-900
{
    font-weight: 900;
}

.text-big80
{
    font-size: var(--fs-80);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.text-big60
{
    font-size: var(--fs-60);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.text-big50
{
    font-size: var(--fs-50);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.text-big40
{
    font-size: var(--fs-40);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.text-big20
{
    font-size: var(--fs-20);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.text-big10
{
    font-size: var(--fs-10);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.sec-mainTitle
{
    font-size: var(--fs-60);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.innr-sec-mainTitle
{
    font-size: var(--fs-40);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.flex-center
{
    display: flex;
    align-items: center;
}
.flex-center-between
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bold
{
    font-weight: bold;
}
.uppr
{
    text-transform: uppercase;
}
.text-muted
{
    color: #939393 !important;
}
p
{
    font-size: var(--fs-14);
}
.btn
{
    font-size: var(--fs-12);
    font-weight: 700;
    padding: 12px 24px;
    text-decoration: none;
}
.btn-shadow
{
    box-shadow: 1px 7px 40px var(--shadow);
}
.btn-round
{
    border-radius: 50px;
}
.btn-red-grd
{
    color: #fff;
    background: var(--primary-light); /* Old browsers */
    background: -moz-linear-gradient(left, var(--primary-light) 0%, var(--primary) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--primary-light) 0%,var(--primary) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--primary-light) 0%,var(--primary) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-light)', endColorstr='var(--primary)',GradientType=1 ); /* IE6-9 */
}
.btn-warning {
    color: var(--dark-color);
    background-color: #efad00;
    border-color: #efad00;
}
.btn:hover,.btn:focus
{
    background:#fff;
    color: inherit;
    border-color: inherit;
    box-shadow: none;
    outline: 0;
}

.btn-outline-white
{
    background: none;
    border-color: white;
    color: #fff;
}
.btn-outline-white:hover
{
    background: #fff;
    border-color: white;
    color: var(--primary);
}
.btn-white
{
    background: #fff;
    border-color: white;
    color: var(--primary);
}
.btn-white:hover,.btn-white:focus
{
   background: none;
    border-color: white;
    color: #fff;
}
.bg-red-grd
{
    color: #fff;
    background: var(--primary-light); /* Old browsers */
    background: -moz-linear-gradient(left, var(--primary-light) 0%, var(--primary) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--primary-light) 0%,var(--primary) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--primary-light) 0%,var(--primary) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-light)', endColorstr='var(--primary)',GradientType=1 ); /* IE6-9 */
}
.box-pad
{
    padding: 30px;
}
.br-20
{
    border-radius: 20px;
}
.brdr-red
{
    border: 1px solid var(--primary);
}
/* ----- IMP ----*/

/*------- menu start ---------*/

.main-menu .navbar
{
    padding: 0 70px;
    
}
.main-menu .navbar-nav .nav-link {
    font-size: var(--fs-14);
    font-weight: 500;
    color: var(--dark-color);
    letter-spacing: 1px;
    padding: 20px;
}

.main-menu .navbar-nav .nav-item.active .nav-link
{
    color: var(--dark-color);
    font-weight: 700;
}
.main-menu .navbar-nav .nav-item a.nav-link
{
    position: relative;
}
.main-menu .navbar-nav .nav-item a.nav-link:before
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    content: '';
    width: 20px;
    margin: auto;
    height: 2px;
    background: var(--dark-color);
    display: none;
}
.main-menu .navbar-nav .nav-item a.lang-link:before {
    background: #fff !important;
}
.main-menu .navbar-nav .nav-item.active a.nav-link:before
{
    display: block;
}
.main-menu .navbar-nav .nav-item a.nav-link:hover:before
{
    display: block;
}

.main-menu .navbar-nav .nav-link
{
    color: var(--primary);
}
.main-menu .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary);
}
.main-menu .navbar-nav .nav-item.active .nav-link
{
    color: var(--primary);
}
.main-menu .navbar-nav .nav-item .nav-link:hover,.fixed-menu.sticky .navbar-nav .nav-item a.nav-link:hover
{
    color: var(--primary) !important;
}
.main-menu .navbar-nav .nav-item a.nav-link:hover:before
{
    background: var(--primary);
}
.main-menu .navbar-nav .nav-item a.lang-link:hover:before {
    background: #fff !important;
}
.fixed-menu
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background: #ffffffb8;
}

.sticky
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 10px var(--shadow);
}

.fixed-menu.sticky .nav-link, .fixed-menu.sticky .navbar-nav .nav-item.active .nav-link, .fixed-menu.sticky .navbar-brand {
    color: var(--dark-color) !important;
}

.fixed-menu.sticky .navbar-nav .nav-item.active a.nav-link:before
{
    background: var(--dark-color);
}
.fixed-menu.sticky .navbar-nav .nav-item.active a.lang-link:before {
    background: #fff !important;
}
.fixed-menu .navbar-nav .nav-link,.fixed-menu .navbar-nav .nav-item.active .nav-link,.fixed-menu .navbar-brand
{
    color: var(--dark-color);
}

.fixed-menu .navbar-nav .nav-item.active a.nav-link:before
{
    background: var(--dark-color);
}
.fixed-menu .navbar-nav .nav-item.active a.lang-link:before
{
    background: #fff !important;
}
.main-menu .navbar-nav li.show .submenu-div
{ 
    display: block;
}
.submenu-div
{
    width: 100%;
    display: none;
    padding: 30px 70px;
    background: #fff;
    box-shadow: 0 7px 30px var(--shadow);
    position: absolute;
    left: auto;
    right: 0;
    top: 100%;
}
.submenu-div .col
{
    padding: 0 15px;
}
.submenu-div .title
{
    font-size: var(--fs-18);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.menuQuote .textBig
{
    font-size: var(--fs-60);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.menuQuote .clientName
{
    font-size: var(--fs-18);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary);
}
.menuQuote .clientCategory
{
    font-size: var(--fs-14);
    font-weight: 600;
}
.menuQuote .text-normal
{
    line-height: 1.5;
    color: #969696;
    padding: 20px 30px;
    position: relative;
}
.menuQuote .text-normal:after,.menuQuote .text-normal:before
{
    position: absolute;
    font-size: var(--fs-30);
    font-weight: bold;
    color: var(--primary);
}
.menuQuote .text-normal:after
{
    content: url(../img/quote-start.png);
    left:0;
    top: 0;
}
.menuQuote .text-normal:before
{
    content: url(../img/quote-end.png);
    right:0;
    bottom: 0;
}
.ul-sub-menu,.ul-deep-menu
{
    list-style: none;
    padding: 20px;
    width: 100%;
    border-left: 1px solid #ddd;
}
.ul-deep-menu
{
    display: none;
    position: absolute;
    left: 300px;
    top: 0;
}
.ul-sub-menu>li.active .ul-deep-menu
{
    display: block;
}

.ul-sub-menu li a,.ul-deep-menu li a
{
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: var(--fs-14);
    padding: 5px 0;
    display: block;
    position: relative;
}
.ul-deep-menu li a
{
    color: #969696;
}
.ul-sub-menu li:hover>a,.ul-sub-menu>li.active>a,.ul-deep-menu li.active a,.ul-deep-menu li:hover a
{
    color: var(--primary);
    font-weight: bold;
}
.ul-sub-menu>li>a:after,.ul-deep-menu>li>a:after
{
    position: absolute;
    display: none;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
    border-top: 8px solid transparent;
    border-left: 10px solid var(--primary);
    border-bottom: 8px solid transparent;
}
.ul-sub-menu>li:hover>a:after,.ul-sub-menu>li.active>a:after,.ul-deep-menu>li:hover>a:after,.ul-deep-menu>li.active>a:after
{
    display: block;
}


/*------- menu end ---------*/
.indexBg
{
    background: url('../img/indexAnim.gif');
    background-size: contain;
}
.automotiveBg
{
    background: url('../img/automotiveBg.jpg');
    background-size: contain;
}
.avionicsBg
{
    background: url('../img/avionicsBg.jpg');
    background-size: contain;
}
.chemicalsBg
{
    background: url('../img/chemicalsBg.jpg');
    background-size: contain;
}
.constructionBg
{
    background: url('../img/constructionBg.jpg');
    background-size: contain;
}
.industryBg
{
    background: url('../img/industryBg.jpg');
    background-size: contain;
}
.oilgasBg
{
    background: url('../img/oilgasBg.jpg');
    background-size: contain;
}
.pharmaBg
{
     background: url('../img/pharmaBg.jpg');
    background-size: contain;
}

.steelBg
{
    background: url('../img/steelBg.jpg');
    background-size: contain;
}
.textilesBg
{
    background: url('../img/textilesBg.jpg');
    background-size: contain;
}

.contactBg
{
    background: url('../img/contactBg.jpg');
    background-size: contain;
}
.careerBg
{
    background: url('../img/careerBg.jpg');
    background-size: contain;
}


.aboutBg
{
    background: url('../img/aboutBg.jpg');
    background-size: contain;
}
.seminarBg
{
    background: url('../img/seminarBg.jpg');
    background-size: contain;
}
.cableManfBg {
    background: url('../img/bg-cable-manufacturing.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 60vh; 
}
.injectionModBg {
    background: url('../img/bg-die-casting-machineg.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 60vh; 
}
.oeeSteal {
    background: url('../img/bg-steel-coil.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 60vh; 
}
.electricMotorBg {
    background: url('../img/bg-electric-motor.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 60vh; 
}
.achivemoreBg {
    background: url('../img/achieve-moreBG.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 60vh; 
}
.consultingBg
{
    background: url('../img/consultingBg.jpg');
    background-size: contain;
}

.learnBg
{
    background: url('../img/learnBg.jpg');
    background-size: contain;
}

.productsBg
{
    background: url('../img/productsBg.jpg');
    background-size: contain;
}
.whitepaperBg
{
    background: url('../img/whitepaperBg.jpg');
    background-size: contain;
}
.videosBg
{
    background: url('../img/videosBg.jpg');
    background-size: contain;
}


.headerBg
{
    background-repeat: no-repeat;
    height: 90vh;
    top: 60px;
    margin-bottom: 60px;
    position: relative;
    background-position: top right;
}
.bgSizeCover
{
    background-size: cover;
}
.headerBg video { 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    /* z-index: -100; */
    transition: 1s opacity;
} 

  .headerBg .section {
    width: 100%;
  }
  
  .headerBg .article {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  .headerBg .h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .headerBg .left-half {
    background-color: #ff9e2c;
    float: left;
    width: 50%;
  }
  .headerBg .right-half {
    background-color: #b6701e;
    float: left;
    width: 50%;
  }

.red
{
     color: var(--primary);
}
.bg-red
{
     background: var(--primary);
}
.typography
{
   /* padding-top: 70px;
    padding-bottom: 70px;*/
}
.typography .text-1
{
    font-size: var(--fs-34);
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
    /* background-color: #ffffffa0; */
}
.typography .text-2
{
    color: var(--dark-color);
    font-size: var(--fs-60);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.typography .text-p
{
    color: var(--dark-color);
    font-size: var(--fs-14);
    width: 35%;
}
.headerBg .container,.headerBg .row
{
    height: 100%;
}

.navbar img
{
    width: 130px;
}

.section-padding
{
    padding-top: 70px;
}

.section-padding-both
{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-padding-both-2x
{
    padding-top: 140px;
    padding-bottom: 140px;
}


.title .text-20
{
    font-size: var(--fs-20);
    font-weight: 600;
}
.short-line
{
    height: 6px;
    width: 80px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
}

.text-normal,.text-p
{
    color: #555555;
    font-size: var(--fs-16);
    line-height: 2;
}
.text-medium
{
    color: #555555;
    font-size: var(--fs-16);
    line-height: 2;
}
.offset-bottom
{
    bottom: -80px;
}
.cardStacks
{
    top: -30px;
    position: relative;
}
.cardblock
{
    padding:20px;
    box-shadow:0 12px 70px var(--shadow);
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    position: relative;
    display: inline-block;
    transition: all 0.35s;
}
.cardblock .figure
{
    font-size: 75px;
    color: var(--primary);
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardblock  .title
{
    font-weight: bold;
    font-size: var(--fs-20);
    margin-bottom: 10px;
}
.cardblock p
{
   font-size: var(--fs-12);
}
.cardblock:hover .readmorebtn
{
    color: #fff;
}
.cardblock:hover
{
    color: #fff;
    background: var(--primary); /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--primary) 0%, var(--primary-light) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--primary) 0%,var(--primary-light) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--primary) 0%,var(--primary-light) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary)', endColorstr='var(--primary-light)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cardblock:hover .figure
{
    color: #fff;
}

.relative
{
    position: relative;
}

.videoSection
{
    position: relative;
}
.videoWrapper
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #fff;
    line-height: 0;
    box-shadow:0 6px 20px var(--shadow);
}
.videoWrapper .videoFrame
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 340px;
}

.bgAbsolute
{
    width: 90%;
    height: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    z-index: -1;
    overflow: hidden;
    background: var(--primary-light); /* Old browsers */
    background: -moz-linear-gradient(right, var(--primary-light) 0%, var(--primary) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, var(--primary-light) 0%,var(--primary) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, var(--primary-light) 0%,var(--primary) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-light)', endColorstr='var(--primary)',GradientType=1 ); /* IE6-9 */
}
.circleAbsolue
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border:6px solid var(--primary-light);
    position: absolute;
    right: -50px;
    top: 3%;
}
.bgAbsolute .apaText
{
    font-size: 400px;
    color: #fff;
    font-weight: 900;
    right: -10%;
    position: absolute;
}

.centerTitle
{
    text-align: center;
    margin-bottom: 20px;
}
.featureBox
{
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    transition: all 0.35s;
    margin-bottom: 10px;
}
.featureBox:hover
{
    box-shadow:0 3px 50px var(--shadow);
}
.featureBox .icon
{
    margin-bottom: 10px;
}
.featureBox .icon img
{
    height: 50px;
}
.featureBox .title
{
    font-weight: bold;
    font-size: var(--fs-14);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.featureBox .text-p
{
    line-height: 1.5;
}

.more
{
    margin-bottom: 10px;
}
.more a
{
    color: #f3346c;
}
.readmorebtn
{
    color: #f3346c;
    margin-top: 10px;
    font-size: var(--fs-12);
}
.bringSlideSection .row {
    margin-right: 0px;
    margin-left: 0px;
}

.bringSlideSection .row .col-md-6:last-child
{
    padding: 0;
}

.automtv-carousel .carousel-cell
{
    width: 280px;
    height: auto;
   padding:30px 20px;
}

.automBox
{
    background:#fff;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow:0 7px 30px var(--shadow);

    overflow: hidden;
    transition: all 0.35s;
    transform: scale(1);
}

.automBox:hover,.automtv-carousel .carousel-cell.is-selected .automBox
{
    transform: scale(1.1);
    background: #f3346c;
}
.automBox:hover  .automText,.automtv-carousel .carousel-cell.is-selected .automText
{
    color: #fff;
}
.automBox:hover  .line,.automtv-carousel .carousel-cell.is-selected .line
{
    background: #fff;
}
.automPic
{
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.automPic img
{
    position: absolute;
    top: 0;
    height: 100%;
}
.automText
{
    font-size: var(--fs-20);
    font-weight: 400;
    text-align: center;
    padding: 20px 10px;
    display: block;
    color: var(--dark-color);
    text-decoration: none;
    text-transform: uppercase;
}
.automText .line
{
    height: 4px;
    width: 40px;
    background: #f3346c;
    margin: 10px auto;
}

.automtv-carousel .flickity-page-dots
{
    display: none;
}


.automtv-carousel .flickity-button{
    opacity: 1;
    box-shadow:0 5px 20px var(--shadow);
    background: hsla(0, 0%, 100%, 1);
}

.tryDemobg
{
    padding: 50px 0;
    background: #b8244a; /* Old browsers */
    background: -moz-linear-gradient(top, #b8244a 0%, #cc213f 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b8244a 0%,#cc213f 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b8244a 0%,#cc213f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8244a', endColorstr='#cc213f',GradientType=0 ); /* IE6-9 */

}
.titleDemo
{
    text-align: center;
    font-size: var(--fs-40);
    color: #fff;
    font-weight: 400;
}

.tryDemobg .addon
{
    position: relative;
}
.tryDemobg .addon .form-control
{
    padding: 10px 30px;
    height: 60px;
    border-radius: 50px;
    box-shadow: none;
    padding-right: 110px;
    border: none;
}
.tryDemobg .addon .btn
{
    top: 8px;
    right: 8px;
    position: absolute;
}

.ft-about h3,.ft-social h3
{
    font-size: var(--fs-24); 
    font-weight: bold;
    margin-bottom: 20px;
}
.ft-social  h3
{
    color: #a5a5a5;
}
.social-icon
{
    display: flex;
}
.social-icon a
{
    font-size: var(--fs-20);
    color: var(--dark-color);
    margin-right: 30px;
}

.contactBox
{
    display: flex;
    padding: 40px;
    background:#fff;
    border-radius:0px;
    width: 100%;
    height: 100%;
    box-shadow:0 12px 60px var(--shadow);
    overflow: hidden;
    position: relative;
}

.text-contact
{
    font-size: var(--fs-34);
    font-weight: bold;
    padding-right: 20px;
    line-height: 1;
}
.formContent .text-contact
{
    font-size: var(--fs-34);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 900;
    line-height: 1;
}
.formBox
{
    width: 65%;
    padding:0 20px;
}
.formBox .form-control
{
    border:none;
    border-bottom: 1px solid var(--dark-color);
    border-radius: 0;
    box-shadow: none;
    padding: 24px 0;
    font-size: var(--fs-14);
    height: calc(2.25rem + 2);
}

.ul-list,.ul-list-fw-700
{
    list-style: circle;
}
.ul-list li
{
    margin-bottom: 15px;
    font-size: var(--fs-14);
}

.ul-list-fw-700 li
{
    font-weight: 700;
    margin-bottom: 15px;
}

.ul-list-bullet
{
    display: block;
    padding-left: 0;
}
.ul-list-bullet li
{
    position: relative;
    list-style: none;
    padding-left: 20px;
     margin-bottom: 15px;

     font-weight: 700;
}
.ul-list-bullet li:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background:var(--primary);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px var(--primary);
}

.ul-list-bullet.black-bullet li:after
{
    background:var(--dark-color);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px var(--dark-color);
}

.ul-list-bullet.red-bullet li:after
{
    background:var(--primary);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px var(--primary);
}
.client-carousel .carousel-cell
{
    width: 34%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px dotted #ddd;
}

.client-carousel .flickity-page-dots,.client-carousel .flickity-button
{
    display: none;
}
.client-carousel .carousel-cell .picBox
{
    width: 60%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.w-80px,.client-carousel .carousel-cell .picBox.w-80
{
    width: 80px;
}
.w-90px,.client-carousel .carousel-cell .picBox.w-90
{
    width: 90px;
}
.w-150px,.client-carousel .carousel-cell .picBox.w-150
{
    width: 150px;
}
.w-200px,.client-carousel .carousel-cell .picBox.w-200
{
    width: 200px;
}
.client-carousel .carousel-cell .picBox img
{
    max-height: 100%;
    transition: all 0.35s;
}
.client-carousel .carousel-cell:hover .picBox img
{
   -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.countBg
{
    background:var(--primary-light) url('../img/countBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.countBg:after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
    background: var(--primary-light);
    background: -moz-linear-gradient(top, var(--primary-light) 0%, var(--primary) 99%);
    background: -webkit-linear-gradient(top, var(--primary-light) 0%,var(--primary) 99%);
    background: linear-gradient(to bottom, var(--primary-light) 0%,var(--primary) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-light)', endColorstr='#cc213f',GradientType=0 );
}

.countBg
{
    position: relative;
    z-index: 1;
}
.countBox
{
    padding: 20px;
    text-align: center;
    color: #fff;
}

.countBox .figure
{
    font-size: var(--fs-60);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
}
.countBox .figure small
{
    font-size: var(--fs-20);
}
.countBox .text
{
    font-size: var(--fs-14);
    font-weight: 400;
}

.parallax-bg {
    background-repeat:no-repeat;
    background-position:50% 50%;
}

.AmimgBox
{
    width: 100%;
    height: auto;
    box-shadow:0 12px 60px var(--shadow);
    overflow: hidden;
    position: relative;
}
.AmimgBox img
{
    width: 100%;
}
.centerPharseContent
{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.hdrscrollArrow i
{
    font-size: var(--fs-44);
    color: var(--dark-color);
    transform: rotate(90deg);
}
.hdrscrollArrow
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    width: 25px;
}

.white-box-shadow
{
   padding: 30px;
    background: #fff;
    box-shadow: 0 9px 38px var(--shadow);
}

.lookingBox
{
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.brdr-black
{
    border-left-color: var(--dark-color) !important;
}
.lookingBox .text *
{
    text-transform: uppercase;
    line-height: 1;
}

.rerBg-grd
{
    background: var(--primary-light); /* Old browsers */
    background: -moz-linear-gradient(left, var(--primary-light) 0%, var(--primary) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--primary-light) 0%,var(--primary) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--primary-light) 0%,var(--primary) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-light)', endColorstr='var(--primary)',GradientType=1 ); /* IE6-9 */
}

.lookingBox.brdr-black
{
    border-color: var(--dark-color) !important;
}

.btn-black
{
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}

.btn-black:hover
{
    border: 1px solid var(--dark-color);
    color: #fff;
    background:var(--dark-color);
}

.mapBox
{
    height: 150px;
    width: 100%;
    background:#ccc;
}

.ctnDetailBox h4
{
    font-size: var(--fs-20);
}
.ctnDetailBox
{
    margin-bottom: 20px;
}
.ctnDetailBox h3
{
    font-size: var(--fs-20);
    margin-bottom: 10px;
}
.ctnDetailBox p
{
    margin-bottom: 0px;
}
.ft-links a
{
    color: var(--dark-color);
    font-size: var(--fs-14);
    padding:2px 20px;
}
.ft-links a:first-child
{
    border-right: 1px solid var(--dark-color);
    padding-left: 0;
}
.ft-links a:hover
{
    color: var(--primary);
}


.ourBox
{
    padding: 30px;
    border-radius: 10px;
    transition: all 0.35s;
    text-align: center;
    margin-bottom: 10px;
    box-shadow:0 3px 50px var(--shadow);
}

.ourBox.rerBg-grd *
{
    color: #fff;
}

.ourBox .title
{
    font-size: var(--fs-20);
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ourBox .short-line {
    height: 3px;
    width: 60px;
    margin: 20px auto;
}
.bg-grey
{
    background:var(--dark-color);
}

.card-header a
{
    display: block;
    color: var(--dark-color);
    font-size: var(--fs-18);
    font-weight: bold;
    text-transform: uppercase;
}

.card-header a:hover
{
    color: var(--primary);
}

.card-header:first-child {
    border-radius: 0 !important;
}
.card {
   
    border: none; 
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px var(--shadow);
}

.card-body
{
    padding: 30px;
}

.card-body h4
{
    font-size: var(--fs-14);
    margin-bottom: 20px;
    color: var(--primary);
    font-weight: bold;
}

.ul-list
{
    padding-left: 18px;
}


.linkdinProBox
{
    display: flex;
    align-items: center;
    box-shadow: 0 2px 14px var(--shadow);
    padding: 20px;
    margin-bottom: 20px;
}
.linkdinProBox .profilePic
{
    width: 240px;
    height: 200px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    
}
.linkdinProBox .profilePic .smplImg
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.linkdinProBox .content
{
    width: 100%;
    padding-left: 20px;
}

.linkdinProBox .content .title
{
    font-weight: bold;
}


.DatenschutzPage h4
{
    letter-spacing: 7px;
    text-transform: uppercase;
}

.box-content-right *
{
    text-align: right;
}

.box-content-right .short-line
{
    margin-left: auto;
    margin-right: 0;
}

.box-content-left *
{
    text-align: left;
}

.box-content-left .short-line
{
    margin-left: 0;
    margin-right: auto;
}

.md-center-title .text-first {
    font-size: var(--fs-30);
    font-weight: bold;
    text-transform: uppercase;
}
.box-content-left .title .text-first {
    font-size: var(--fs-30);
    font-weight: bold;
    text-transform: uppercase;
}


.leftSideFilter
{

}

.cstmInput .addon {
    position: relative;
}

.cstmInput .addon .form-control {
    padding: 10px 20px;
    height: 44px;
    border-radius: 50px;
    box-shadow: 0 1px 7px var(--shadow);
    padding-right: 60px;
    border: none;
    font-size: var(--fs-14);
}

.cstmInput .addon .btn,.cstmInput .addon-item {
    top: 2px;
    right: 3px;
    border-radius: 120px;
    position: absolute;
}
.cstmInput .addon .addon-item.btn-fab
{
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary);
}        
.custom-control-label::before,.custom-control-label::after {
    top: 2px !important;
}


.scrollable-blogs
{
    max-height: 500px;
    overflow: auto;
}

.blogBox
{
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 9px 38px var(--shadow);
}
.blogBox .blogPic
{
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
.blogBox .blogPic .industiesText
{
    position: absolute;
    bottom: 5px;
    left: 0;
    background:#fff;
    padding: 7px 15px;
    color: var(--dark-color);
    font-size: var(--fs-12);
    border-radius: 0 20px 20px 0 ;
    font-weight: bold;
}
.blogBox .content
{
    padding: 20px;
}

.blogBox .content .title
{
    font-size: var(--fs-18);
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary);
}



.tvarit-red
{
    color: var(--primary);
}
.tvarit-red .color
{
    color: var(--dark-color);
}
.tvarit-black
{
    color: var(--dark-color);
}

.tvarit-black .color
{
    color: var(--primary);
}

.cookieFooter
{
    padding: 30px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.apaVr-line
{
    position: relative;
}

.apaVr-line .vr-line
{
    height: 85px;
    width: 2px;
    background:var(--dark-color);
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    bottom: -20px;
}

.fourbox .vr-line
{
    height: 50px;
    width: 2px;
    background:var(--dark-color);
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    top: -50px;
}

.fourbox .hrline-main
{
    height: 2px;
    width: 80%;
    background:var(--dark-color);
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    top: -50px;
}

.videoPageBlog
{
    padding: 30px;
}

.videoPageBlog .blogPic
{
    background:#000;
}
.videoPageBlog .blogPic img
{
    opacity: 0.4;
    transform: scale(1);
    transition: all 0.35s linear;
}
.videoPageBlog .blogPic:hover img
{
     transform: scale(1.1);
}
.videoPageBlog .playVideo
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    font-size: var(--fs-30);
    z-index: 1;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px var(--shadow);
    
}

.videoPageBlog .playVideo:hover
{
   
    color: #fff;
}

.videoPageBlog .blogBox .content .title {
    font-size: var(--fs-14);
    font-weight: bold;
    color: var(--dark-color);
}

.videoPageBlog .blogBox .content {
    padding: 10px 15px;
}

.filterDiv
{
    padding: 20px;
}
   
.leftSideFilter {
    margin-bottom: 20px;
}


ul.accordion {
  list-style: none;
  padding: 0;
}
ul.accordion .inner {
  padding: 15px;
  overflow: hidden;
  display: none;
}
ul.accordion .inner.show {
  border-top: none !important;
    border: 1px solid #ddd;
}
ul.accordion li {
  margin: 0.5em 0;
}
ul.accordion li a.toggle {
    width: 100%;
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 10px var(--shadow);
    color: var(--dark-color);
    font-weight: bold;
    padding: 0.75em;
    transition: background 0.3s ease;
}
ul.accordion li a.toggle:hover {
  background: #fff;
}


.countBox .figure small.x
{
    font-weight: bold;
    font-size: 60px !important;
}
.bg-light-section
{
    background: #f5f5f5;
}


.newsBox
{
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--dark-color);
}
.newsBox:hover .news-content
{
    background: var(--primary);
    color: #fff;
}
.newsBox:hover .news-content .text-sub,.newsBox:hover .news-content .post-text
{
    color: #71021b;
}
.newsBox:hover .news-content .post-text .date
{
    color: #ffffff;
}
.news-content
{
    width: 90%;
    margin: auto;
    background: #fff;
    box-shadow: 0px 3px 16px var(--shadow);
    top: -10px;
    position: relative;
    padding: 15px;
    transition: all 0.35s;
    height: 200px;
    overflow:auto;
}
.news-content .text-sub
{
    font-size: 11px;
    font-weight: bold;
    color: #989898 ;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.news-content .title
{
    font-size: var(--fs-14);
    font-weight: bold;
    line-height: 1.5;
     margin-bottom: 15px;
}
.news-content .post-text
{
    font-size: 11px;
    font-weight: bold;
}

.news-content .text-sub .date
{
    color: #989898;
    margin-left: 10px;
}


.dateNtitle
{
    font-size: var(--fs-12);
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--dark-color);
    display: flex;
}
.dateNtitle .date
{
    font-weight: bold;
    margin-right: 10px;
    width: 90px;
}
.dateNtitle .title
{
    padding:5px 10px;
    border-left: 2px solid var(--dark-color);
    background: #f5f5f5;
    width: 80%;
    text-transform: capitalize;
}
.dateNtitleScrollbar .dateNtitle.active,.dateNtitle.mixitup-control-active
{
    color: var(--primary);
}
.dateNtitleScrollbar .dateNtitle.active .title,.dateNtitle.mixitup-control-active .title
{
    color: var(--dark-color);
    font-weight: bold;
}

.dateNtitleScrollbar .dateNtitle:hover
{
    color: var(--primary);
}
.dateNtitleScrollbar .dateNtitle:hover .title
{
    color: var(--dark-color);
    font-weight: bold;
}

.dateNtitleScrollbar
{
    max-height: 500px;
    overflow: auto;
}
.countryCode {
    height: 49px;
}
.timeSlots {
    margin-top: 11px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
    /*
      Define here the CSS styles applied only to the Safari 6 and 7 versions when
      running them in any device (computers, iPhone, iPad, ...)
     */
     .formBox .form-control {
        padding: 0px 0;
     }
     .countryCode {
        height: unset;
    }
    .timeSlots {
        margin-top: unset;
    }
}
@media screen and (-moz-min-device-pixel-ratio:0) {
    .countryCode {
        height: unset;
    }
    .timeSlots {
        margin-top: unset;
    }
}




span.text-big60.red.fw-300.ai_predictive {
    font-size: 35px;
    text-align: center;
}
.brdr-right-brown {
    border-right-style: solid;
    border-right-color: coral;
}
.brdr-right-green {
    border-right-style: solid;
    border-right-color: greenyellow;
}
.brdr-right-red {
    border-right-style: solid;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(#fff))0 100% 0 0 stretch;

    /* border-right-color: #ed1b4a;
    border-right-color: -moz-linear-gradient(right, #f86e9f 0%, #ed1b4a 99%);
    border-right-color: -webkit-linear-gradient(right, #f86e9f 0%,#ed1b4a 99%);
    border-right-color: linear-gradient(to right, #f86e9f 0%,#ed1b4a 99%);  */
}
.brdr-right-blue {
    border-right-style: solid;
    border-right-color: navy;
}
.rerBg-grd-brown {
    background: linear-gradient(to right, #f97d4ed9 0%,#f77646 99%);
    font-size: 2vh !important;
    width: 90% !important;
}
.rerBg-grd-green {
    background: linear-gradient(to right, #66a00c 0%,#9ef11f 99%);
    font-size: 2vh !important;
    width: 90% !important;
}
.rerBg-grd-red {
    background: var(--primary-light); /* Old browsers */
    background: -moz-linear-gradient(right, #f86e9f 0%, var(--primary) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, #f86e9f 0%,var(--primary) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f86e9f 0%,var(--primary) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: 2vh !important;
    width: 90% !important;
}
.rerBg-grd-blue {
    background: linear-gradient(to right, #2c2cf1b5 0%,#2c2cf1 99%);
    font-size: 2vh !important;
    width: 90% !important;
}
.title-grid {
    height: auto;
    width: 70%;
    text-align: left;
    color: #fff;
    text-transform: inherit;
    font-size: 5vh;
    font-weight: 500;
    padding: 13px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.rerBg-grd-darkblue {
    background: linear-gradient(to right, #6c757d70 0%,#6c757da3 99%);
    font-size: 2vh !important;
    width: 90% !important;
}
.rerBg-grd-yellow {
    background: linear-gradient(to right, #6c757d70 0%,#6c757da3 99%);
    font-size: 2vh !important;
    width: 100% !important;
}
.brdr-right-yellow {
    border-right-style: solid;
    border-right-color: yellow;
}
.brdr-right-darkblue {
    border-right-style: solid;
    border-right-color: darkblue;
}

/*-----------css 11-01-2020 --------*/
.weOfferBox .featureBox
{
    display: block;
    text-decoration: none;
    color: var(--dark-color);
    padding: 0px;
    box-shadow: 0 3px 50px var(--shadow);
    height: 100%;
    position: relative;
}

.weOfferBox .inner-container
{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.weOfferBox .inner-container .short-line
{
    margin-top:5px;
}

.weOfferBox .featureBox.primary-box
{
    background: var(--primary) !important;
    color: #fff !important;
}
.weOfferBox .featureBox.primarylight-box
{
    background: #ffc6d3 !important;
    color: var(--primary) !important;
}

.weOfferBox .featureBox.lightgray-box
{
    background: #f5f5f5 !important;
}
.weOfferBox .featureBox .icon
{
    margin-bottom: 0px;
}
.weOfferBox .featureBox .icon img
{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.weOfferBox .featureBox .title
{
    font-weight: bold;
    font-size: var(--fs-40);
    line-height: 1;
    margin-bottom: 10px;
    text-transform: capitalize;   
}
.weOfferBox .featureBox:hover
{
    /* background: var(--primary) !important;
    color: #fff !important; */
}
.box-content-right .ul-list-bullet li {
    padding-left: 0;
    padding-right: 15px;
}
.text-big30
{
    font-size: var(--fs-30);
}
.text-big40
{
    font-size: var(--fs-40);
}
.text-big50
{
    font-size: var(--fs-50);
}
.p-half
{
    width: 50%;
    margin: auto;
}

.float-chat
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-30);
    color: #fff;
    box-shadow: 0 3px 50px var(--shadow);
}
/*-----------css 15-01-2020 --------*/
.aiplatformBg
{
    background:#fff url('../img/tvarit-ai-platform-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.macbook-position {
    position: absolute;
    right: 13%;
    top: 20%;
    width: 100%;
    height: 360px;
    max-width: 590px;
    border-radius: 2px;
}
.macbook-wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    background: #fff;
}

.macbook-wrapper .macbook-lapi {
    display: block;
    position: absolute;
    left: -25.8%;
    top: -9.3%;
    width: 153%;
    height: auto;
    z-index: -1;
}
.macbook-video
{
    height: 100%;
    width: 100%;
    box-shadow: none;
    border: none;
}
.hdr-tvarit {
    font-size: var(--hdr-Tvrit);
    color: #fff;
    font-weight: bold;
}
.hdr-industrial {
    font-size: var(--hdr-industrial);
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.lh-1
{
    line-height: 1;
}

.hdr-prgf,.hdr-prgf2r
{
    color: #fff;
    font-size: var(--hdr-prgf);
    width: 100%;
    min-height: 80px;
}

.hdr-prgf2r
{
    text-align: right;
}
.typography.left {
    text-align: left !important;
}
.typography.right
{
}

.hdr-germany {
    background: #ffffff;
    padding: 0 20px;
    width: 100%;
    padding-right: 0;
    font-size: var(--hdr-germany);
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flag {
    width: 77px;
    margin-left: 20px;
}
.stringText
{
    display: none;
}
.indexMainBg
{
    margin-bottom: 60px;
}
.indexMainBg .container
{
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.indexMainBg .container .row
{
    width: 100%;
    align-items: flex-end !important;
    height: auto;
}
.optiBgTrns
{
    display: inline-block;
}
.optiBgTrns .text-1
{
    background-color:#fff;
    padding:15px;
    line-height: 1;
}
.optiBgTrns .content
{
    background-color:#0005;
    padding:15px;
    color: #fff;
} 

/*stick contact icon */
.sticky-contact-bar {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.sticky-contact-bar a {
    display: block;
    text-align: center;
    padding: 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: var(--fs-20);
}
.sticky-contact-bar a:hover {
    /* background-color: #fff9; */
  }
.sticky-contact {
    /* background: #3B5998; */
    color: white;
    /* width: 30px;
    height: 30px; */
  }

  /* animation text */
  .ml11 {
    font-weight: 700;
    font-size: var(--fs-30);
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }


/*----------------- css 20-01-2020 -----------------*/
.btn-knowmore
{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: fit-content;
}

.text-white
{
    color: #fff;
}


.achivemore-menu
{
    justify-content: flex-end;
}
.achivemore-menu .ul-sub-menu
{
    max-width: 100%;
    background: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.achivemore-menu .ul-sub-menu .sub-Link
{
    display: flex;
    align-items: center;
    font-size: var(--fs-18);
}
.achivemore-menu .ul-sub-menu .sub-Link:hover
{
    color: var(--primary);
}
.achivemore-menu .ul-sub-menu img
{
    width: 40px;
    margin-right: 10px;
}