#Rewrite everything to https
RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Unless directory, remove trailing slash
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect external .php requests to extensionless url
#RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
#RewriteRule ^(.+)\.php$ https://%{HTTP_HOST}/$1 [R=301,L]

# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]

# Redirect html old link to new link of php
RewriteRule index.html /index.php [QSA,L]
