@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){


    
}

@media (max-width:767px) {

    .headerBg video {
        width: 100%;
    }
    
    .main-menu .navbar {
        max-width: 540px;
        margin: auto;
    }
    
    .videoWrapper
    {
        margin-bottom: 20px;
    }
    
    .btn {
        font-size: 10px;
        padding: 10px 20px;
    }

    .featureBox,.featureBox .icon,.featureBox .title,.featureBox .text-p {
        text-align: center;
    }
    .contactBox {
        display: block;
        padding: 40px;
        top: 40px;
    }
    .formBox {
        width: 100%;
        padding: 0;
    }

    .md-center-title
    {
        text-align: center;
    }
    .md-center-title .short-line
    {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .featureBox .readmorebtn
    {
        text-align: center;
    }

    .tryDemobg .addon .form-control {
        height: 54px;
        font-size: 12px;
    }

    .cookieFooter {
        padding: 20px 0;
    }

    .box-content-left
    {
        text-align: center;
    }
    .box-content-left *,.box-content-right * {
        text-align: center;
    }
    .box-content-left .short-line,.box-content-right .short-line {
        margin-left: auto;
        margin-right: auto;
    }

    .AmimgBox {
        margin-bottom: 30px;
    }

    .fourbox .hrline-main
    {
        display: none;
    }

    .apaVr-line .vr-line {
        height: 135px;
        bottom: -65px;
    }

    .fourbox .vr-line {
        height: 12px;
        top: -11px;
    }

    .linkdinProBox {
        display: block;
        align-items: center;
    }
    .linkdinProBox .profilePic {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
    }

    .linkdinProBox .profilePic .smplImg {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
    }
    .linkdinProBox .content {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .linkdinProBox .content .title {
        font-size: 16px;
    }
    .top-border
    {
        border-top:3px solid #222;
    }

    .client-carousel .carousel-cell
    {
        height: 100px;
    }

    .client-carousel .carousel-cell .picBox.w-90
    {
        width: 50px;
    }


    .searchDiv
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .searchDiv .form-group
    {
        width: 80%;
    }
    .searchDiv .filterBtn{
        font-size: 20px;
        color: #ed1b4a;
    }
    
   .searchDiv.filterFixedTop
   {
       position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
        padding: 20px;
   }
   .filterDiv.open
    {
        transform: translateX(0px);
    }
   .filterDiv
   {
        position: fixed;
        padding: 20px;
        right: 10px;
        top: 10px;
        bottom: 0;
        display: block;
        width: 200px;
        height: auto;
        border-radius: 4px;
        transform: translateX(220px);
        transition: all 0.35s;
        background: #fff;
        z-index: 3;
        max-height: 400px;
        overflow: auto;
        box-shadow: -4px 4px 16px #0000002d;
   }
    .closeFilter
    {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        color: #ccc;
        z-index: 3;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .main-menu .navbar {
        max-width: 720px;
        margin: auto;
    }
    .bringSlideSection .pdn-l-col {
        padding-left: 80px;
    }
    
}

@media (min-width: 768px) {

    
    .bringSlideSection .container
    {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .md-center-title .short-line
    {
        margin-left: 0;
    }
    .left-md-border
    {
        border-left:3px solid #222;
    }

    .w-md-50
    {
        width: 50% !important;
    }
    

}
@media screen and (max-width: 991px) {

   .main-menu .navbar {
        padding: 10px 15px;
    }

    .main-menu .navbar {
        padding: 10px 15px;
    }
    .main-menu .navbar-collapse.open
    {
        transform: translateX(0px);
    }
   .main-menu .navbar-collapse
   {
        position: fixed;
        padding-top: 20px;
        right: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        height: 100%;
        transform: translateX(220px);
        transition: all 0.35s;
        background: #fff;
        box-shadow: -4px 4px 16px #0000002d;
   }
  
   .main-menu .navbar-nav .nav-link {
        font-size: 12px;
        padding: 12px 20px;
    }

    .submenu-div {
        padding: 10px 10px;
        background: #fff;
        box-shadow: none;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    .ul-sub-menu, .ul-deep-menu {
        padding: 0;
        border-left: none;
        width: 100%;
        max-width: 100%;
    }

    .ul-sub-menu li a, .ul-deep-menu li a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .submenu-div .row .col:first-child
    {
        display: none;
    }
    .ul-deep-menu {
        position: relative;
        left: 0;
        top: 0;
    }

    .main-menu .navbar-nav .nav-item a.nav-link:before {
        left: 0;
        right: auto;
        bottom: 0;
        top: 0;
        width: 2px;
        height: 30px;
    }

    .ul-sub-menu>li>a:after, .ul-deep-menu>li>a:after {
        left: -10px;
        border-top: 6px solid transparent;
        border-left: 8px solid #ed1b4a;
        border-bottom: 6px solid transparent;
    }

    .menu-togglebar
    {
        width: 30px;
        height: auto;
        position: relative;
        cursor: pointer;
    }
    .menu-togglebar span
    {
        display: block;
        position: relative;
        height: 3px;
        width: 100%;
        background: #222;
        opacity: 1;
        margin-bottom: 5px;
        transition: .25s ease-in-out;
    }
    
    .menuclose
    {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 2;
        color: #ccc;
    }

    /*------------- menu css close ----------------*/


    .text-big60 {
        font-size: 38px;
    }
    .typography .text-1 {
        font-size: 28px;
    }
    h3
    {
        font-size: 24px;
    }
    .centerPharseContent {
        width: 100%;
    }

    
}

@media (min-width: 768px) and (max-width: 991px) {
   
   .headerBg video {
        width: 100%;
    }
    
}

@media (min-width: 992px) {

    .bringSlideSection .pdn-l-col {
        padding-left: 150px;
    }
    
    .bringSlideSection .automtv-carousel
    {
        padding-left: 25px;
    }
}




